{% extends 'base.html.twig' %}

{% block title %}Affichage de Reclamation{% endblock %}

{% block body %}

    <div class="page-heading contact-heading header-text" style="background-image: url({{asset('assets/images/heading-4-1920x500.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h2>Réclamation</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-8">
                    <p class="lead">
                        Titre &nbsp;&nbsp;
                        Description &nbsp;&nbsp;
                        Type &nbsp;
{#                        Status &nbsp;#}
                        Date &nbsp;&nbsp;
                        Modification &nbsp;&nbsp;
                        Suppression &nbsp;
                    </p>
                    <br>
                    <br>
                    <p class="lead">
                    {% for i in list %}
                        {{ i.Title }} &nbsp;&nbsp;
                        {{ i.DescriptionReclamation }} &nbsp;&nbsp;
                        {{ i.Type }} &nbsp;
{#                        {{ i.Status }} &nbsp;#}
                        {{ i.DateReclamation }} &nbsp;&nbsp;
                        <a href="{{ path('modifyReclamation', {'id': i.id}) }}" title="Modify"><i></i>Modifier</a> &nbsp;&nbsp;
                        <a href="{{ path('deleteReclamation', {'id': i.id}) }}" title="Delete"><i></i>Supprimer</a> &nbsp;
                        <br>
                        <br>
                        {% endfor %}
                    </p>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
