{% extends 'base.html.twig' %}

{% block title %}Ajout  de Reclamation{% endblock %}

{% block body %}

  <div class="page-heading contact-heading header-text" style="background-image: url({{asset('assets/images/heading-4-1920x500.jpg') }});">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h2>Réclamation</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="send-message">
    <form {{ form_start(form) }} >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Ajouter une Réclamation</h2>
            </div>
          </div>
          <div class="col-md-8">
            <div class="contact-form">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      {{ form_widget(form.title) }}
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      {{ form_widget(form.description_Reclamation) }}
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      {{ form_widget(form.type) }}
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      {{ form_widget(form.Submit) }}
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </form {{ form_end(form) }} >
  </div>
{% endblock %}
