{% extends 'base.html.twig' %}

{% block title %}Liste demande d'emploi{% endblock %}

{% block body %}
    <div class="page-heading contact-heading header-text" style="background-image: url({{asset('assets/images/heading-4-1920x500.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h2>Vos demandes</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for demande in demandes %}
        <div class="best-features">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h2>Vos demandes</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="left-content">
                            <p> {{ demande.description }} </p>
                            <ul class="featured-list">
                                <li><a>{{demande.TitreDemande}}</a></li>
                                <li><a>{{demande.statutCand}}</a></li>
                                <li><a>{{ demande.domaineTravail }}</a></li>
                            </ul>
                            <a href="{{ path('list_demande_emploi_detail', {'id': demande.id}) }}" class="filled-button">Voir</a>
                            <a href="{{ path('Modif_demande_emploi', {'id': demande.id}) }}" class="filled-button">Modifier</a>
                            <a href="{{ path('Supp_demande_emploi', {'id': demande.id}) }}" class="filled-button">Supprimer</a>
                            <a class="btn btn-success" href="{{ path('listdem' , {'id': demande.id}) }}" download>Pdf</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-image">
                            <img src="{{ asset('assets/images/about-1-570x350.jpg') }} "alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {{ knp_pagination_render(
        demandes,
        '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',
        {
            'queryParam1': 'param1 value',
            'queryParam2': 'param2 value'
        },
        {
            'viewParam1': 'param1 value',
            'viewParam2': 'param2 value'
        },
    ) }}
    {% endblock %}




