{% extends 'base.html.twig' %}

{% block title %}Liste demande d'emploi{% endblock %}

{% block body %}
    <section id="services_main">
        <div class="container">
            <div class="row">
                <div class="services_main_1">
                    <h2>SERVICES</h2>
                    <p><a href="{{ path('home') }}"> Acceuil </a> <i class="fa fa-angle-double-right"></i> <a href="#"> Vos demandes </a></p>
                </div>
            </div>
        </div>
    </section>
    <section id="history">
        <div class="container">
            <div class="row">
                <div class="history_1 clearfix">
                    <div class="col-sm-8">
                        <div class="history_2 clearfix">
                            <div class="col-sm-6">
                                <div class="history_3">
                                    <a href="#"><img src="public/img/35.jpg" alt="abc" class="img_responsive"></a>
                                    <h3>Agent</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio.
                                        Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
                                        Praesent mauris.</p>
                                    <a href="{{ path ('Modif_demande_emploi') }}" class="button">Modifier</a>
                                    <a href="{{ path ('Supp_demande_emploi') }}" class="button">Supprimer</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="history_3">
                                    <a href="#"><img src="img/36.jpg" alt="abc" class="img_responsive"></a>
                                    <h3>Semper Porta</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio.
                                        Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
                                        Praesent mauris.</p>
                                    <a href="{{ path ('Modif_demande_emploi') }}" class="button">Modifier</a>
                                    <a href="{{ path ('Supp_demande_emploi') }}" class="button">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
