{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <h1>Quiz</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quiz.id }}</td>
                <td><a href="{{ path('quiz_delete', {'id': quiz.id}) }}">Suprimer</a></td>
                <td><a href="{{ path('question_new', {'id_quiz': quiz.id, 'nb_question' : '-1'}) }}">Ajouter une question</a></td>
            </tr>
            <tr>
                <th>Titre de quiz</th>
                <td>{{ quiz.nomQuiz }}</td>
                <td><a href="{{ path('quiz_edit', {'id': quiz.id}) }}">Modifier</a></td>

            </tr>
            <tr>
                <th>Nombre de question</th>
                <td>{{ quiz.nombQuestion }}</td>
            </tr>
            {% for ques in quiz.questions %}
                <tr>
                <td></td>
                    <th>Question</th>
                <td>{{ ques.contenuQues }}</td>
                <td><a href="{{ path('question_edit', {'id': ques.id}) }}">Modifier</a></td>
                <td><a href="{{ path('question_delete', {'id': ques.id}) }}">Supprimer</a></td>
                <td><a href="{{ path('reponse_add', {'ques_id': ques.id}) }}">Ajouter une reponse</a></td>
                {% for reponse in ques.reponses %}
                    <tr>
                        <td></td><td></td>
                        <th>Reponse</th>
                        {% if not(ques.repjust is null) and ques.repjust.id == reponse.id %}
                        <td style="background-color:limegreen">{{ reponse.contenuRep }}</td>
                        {% else %}
                            <td>{{ reponse.contenuRep }}</td>
                        {% endif %}

                        <td><a href="{{ path('reponse_edit', {'id': reponse.id}) }}">Modifier</a></td>
                        <td><a href="{{ path('reponse_delete', {'id': reponse.id}) }}">Supprimer</a></td>
                        {% if not(not(ques.repjust is null) and ques.repjust.id == reponse.id) %}
                        <td><a href="{{ path('reponse_correct', {'id': reponse.id}) }}">definir la reponse juste</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
