{% extends 'base.html.twig' %}

{% block title %}New Quiz{% endblock %}

{% block body %}
    <h2>{{ nom_quiz }}</h2><br/>
    <h4>Choisir la reponse correct</h4><br/>

    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

{% endblock %}
