{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

    
{% block body %}
<!-- Page Content -->
    <div class="page-heading contact-heading header-text" style="background-image: url({{asset('assets/images/heading-4-1920x500.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h4>Recrutini</h4>
                        <h2>Connexion</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Ends Here -->
    <br>
    <br>
    <br>
 <div class="col-md-8">
     <div class="contact-form">
     {% for message in app.flashes('message')  %}
    <div class="alert alert-success" role="alert">
        {{ message }}
            </div>
    {% endfor %}

    {% for message in app.flashes('warning')  %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger')  %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            tu es connecter comme {{ app.user.username }}, <a href="{{ path('app_logout') }}">deconnexion</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">SVP connecter</h1>
            <label for="inputEmail">Email</label>

        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        </br>
        <label for="inputPassword">mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
        si vous avez oublier votre mot de passe cliquer, <a href="{{ path('app_forgotten_password') }}">Ici</a>

        </br>
        </br>

        <button id="form-submit" class="filled-button" type="submit">
connexion        </button>

    </form>

    </div>
</div>
{% endblock %}
