{% extends 'baseCandidat.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <div class="page-heading contact-heading header-text" style="background-image: url({{asset('assets/images/heading-4-1920x500.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h2>Nos formations</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for video in videos %}
        <div class="best-features">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h2>Tous nos formations</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="left-content">
                            <p> {{video.title}} </p>
                            <ul class="featured-list">
                                <li><a>{{ video.description }}</a></li>
                                <li><strong title="Posted on"><i class="fa fa-calendar"></i> {{ video.publishDate|date('Y-m-d H:i:s') }}</strong></li>
                                <li><strong title="Posted on"><i class="fa fa-file"></i> {{ video.domaine }}</strong></li>
                            </ul>

                            <a href="{{ path('list_video_detail', {'id': video.id}) }}" class="filled-button">Voir</a>
                            <a href="{{ path('post_like',{'id':video.id}) }}" class="btn btn-link js-like">
                                {% if app.user and video.isLikedByUser(app.user) %}
                                    <i class="fa fa-thumbs-up"></i>
                                {% else %}
                                    <i class="fa fa-thumbs-o-up"></i>
                                {% endif %}
                                <span class="js-likes">{{ video.likes | length}}</span>
                                <span class="js-label">J'aime</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-image">
                            <iframe width="560" height="315" src="{{ asset(video.url) }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>








    {% endfor %}

    {{ knp_pagination_render(
        videos,
        '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',
        {
            'queryParam1': 'param1 value',
            'queryParam2': 'param2 value'
        },
        {
            'viewParam1': 'param1 value',
            'viewParam2': 'param2 value'
        },
    ) }}

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function onClickBtnLike(event){
            event.preventDefault();
            const url = this.href;
            const spanCount = this.querySelector('span.js-likes');
            const icone = this.querySelector('i');

            axios.get(url).then(function (response){
                console.log(response);
                spanCount.textContent = response.data.likes;

                if(icone.classList.contains('fa-thumbs-up')) {
                    icone.classList.replace('fa-thumbs-up','fa-thumbs-o-up' );
                }
                else {
                    icone.classList.replace('fa-thumbs-o-up','fa-thumbs-up');
                }
            }).catch(function (error){
                if(error.respond.status===403){
                    window.alert("vous ne pouvez pas liker un article")
                }
                else
                {
                    window.alert("une error est produit")
                }
            });
        }

        document.querySelectorAll('a.js-like').forEach(function (link){
            link.addEventListener('click',onClickBtnLike);

        })

    </script>

{% endblock %}

{% block javascripts %}

{% endblock %}