<!DOCTYPE html>

<html lang="en">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('assets/images/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.5.1/main.min.css" integrity="sha256-LOn2s1oZo044zPt6G3x2mGJnhtfXp6ZE1skHztfqnA8=" crossorigin="anonymous">
    <title>{% block title %} Recruitini {% endblock %} </title>
    {% block css%}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.css') }}">


    {% endblock %}
<style>
    .imgtop{
        border-radius: 50%;

    }
</style>

</head>

<body>


<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->


<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#"><h2>Agence <em>Recruitini</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

{#                    <li class="nav-item">#}
{#                            <input type="text" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search" id="search">#}
{#                    </li>#}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Acceuil
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>


                    <li class="nav-item"><a class="nav-link" href="{{ path('offre_index') }}">Offre D'emploi</a></li>

                    <li class="nav-item"><a class="nav-link" href={{ path('list_video') }}>Formations</a></li>
                    <li class="nav-item"><a class="nav-link" href={{ path('contact') }}>Contact</a></li>

                    {% if app.user %}
                    {% if app.user.getRoles()[0]=="Candidat" %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Activiter</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href={{ path('Ajout_demande_emploi') }}>Ajouter demande</a>
                            <a class="dropdown-item" href={{ path('list_demande_emploi') }}>Vos demandes</a>
                            <a class="dropdown-item" href={{ path('Addvideo') }}>Ajouter formation</a>
                            <a class="dropdown-item" href={{ path('Viewvideo') }}>Vos formations</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle"  data-toggle="dropdown" href="home" role="button"  aria-haspopup="true" aria-expanded="false"><img class="imgtop" src="{{ asset('uploads/image/' ~ app.user.img) }}" alt="abc" height="40" width="45"></a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path ('aff_user') }}"> voir compte </a>
                            <a class="dropdown-item" href="{{ path ('Supp_user') }}"> Desactiver compte </a>
                            <a class="dropdown-item" href="{{ path ('Modif_user') }}">Modifier compte</a>
                            <a  class="dropdown-item"  href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                </div>
                </li>
{% endif %}
                    {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nos Espaces</a>

                        <div class="dropdown-menu">

                        <a class="dropdown-item" href="{{ path ('app_login') }}"> Connexion</a>
                        <a class="dropdown-item" href="{{ path ('registration') }}">SignUp candidat</a>
                        <a class="dropdown-item" href="{{ path ('registrationentrep') }}">SignUp employeur</a>

                            {% endif %}
                        </div>
                </div>
                </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- Page Content -->
<!-- Banner Ends Here -->
{% block body %}
{% endblock %}


<!-- Page Content -->
<!-- Banner Starts Here -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <p>Copyright © 2020 Company Name - Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/6049396c385de407571ece11/1f0f0gkfg';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->
{% block js %}
<!-- Bootstrap core JavaScript -->
<script src={{ asset('vendor/jquery/jquery.min.js') }}></script>
<script src={{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}></script>


<!-- Additional Scripts -->
<script src={{ asset('assets/js/custom.js') }}></script>
<script src={{ asset('assets/js/owl.js') }}></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.5.1/main.min.js" integrity="sha256-9puLsDK3mkUV8FSsGLlSRT+uJogUINfaCq56mzSUP/w=" crossorigin="anonymous"></script>
    <script src={{ asset('assets/js/index.js') }}></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}
</body>
</html>