 <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                        {{ form_start(form ,{attr: {novalidate: 'novalidate'}}) }}
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                {{ form_label(form.type) }}
                                            </label>
                                            {{ form_widget(form.type) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>
                                                {{ form_label(form.description) }}
                                            </label>
                                            {{ form_widget(form.description) }}
                                        </div>
                                        <div class="form-error">
                                            {{ form_errors(form.description) }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-info btn-send pt-2 btn-block ">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            {{ button_label|default('Enregistrer')}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div> <!-- /.8 -->
        </div> <!-- /.row-->
    </div>
</div>


