{% extends 'base.html.twig' %}

{% block title %}compte employeur{% endblock %}
{% block body %}
    <section id="services_main">
        <div class="container">
            <div class="row">
                <div class="services_main_1">
                    <h2>SERVICES</h2>
                    <p><a href="{{ path('home') }}"> Acceuil </a> <i class="fa fa-angle-double-right"></i> <a href="#"> Vos demandes </a></p>
                </div>


            </div>
        </div>
    </section>

    <div class="latest-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2> {{user.getPrenom()}}  {{user.getName()}}

                        </h2>
                        <a href="{{ path ('Modif_user') }}" class="fa fa-pencil" >Modifier le compte</a>
                    </div>



                    {#                    <input type="text" name="note" id="note" value={{ user.color }}>#}
                    {#                        <button type="submit">Valider</button>#}

                </div>

                <div class="col-md-4">
                    <div class="product-item" >
                        <a href="#"><img src="{{ asset('uploads/image/' ~ user.img) }}" alt="abc" height="300" width="400" ></a>
                        <div class="down-content">

                            <small>
                                <strong title="Location"><i class="fa fa-map-marker"></i>  {{user.getGover()}}</strong>
                                <strong title="Location"><i class="fa fa-file"></i> {{user.DateNaiss|date('Y-m-d')}}</strong>

                                </br>
                                <strong title="Type"><i class="fa fa-file"></i> {{user.getEmail()}}</strong>
                            </small>
                        </div>
                    </div>
                    <a href="{{ path ('Supp_user') }}" class="button">Desactiver compte</a>

                </div>

                <div class="col-md-4">
                    <div class="product-item">
                        <div class="down-content">
                            <h3>Specialite </h3>
                            <p>                              {{user.getSpecial()}}
                            </p>
                            {#                            <h3>Diplome </h3>#}
                            {#                            {{candidat.getDiplome()}}#}

                        </div>
                    </div>

                </div>

{#                <div class="col-md-4">#}
{#                    <div class="product-item">#}
{#                        <div align="center" style=" ;  padding: 10px;color:#000000;">#}
{#                            <i class="fa fa-star fa-2x" data-index="0"></i>#}
{#                            <i class="fa fa-star fa-2x" data-index="1"></i>#}
{#                            <i class="fa fa-star fa-2x" data-index="2"></i>#}
{#                            <i class="fa fa-star fa-2x" data-index="3"></i>#}
{#                            <i class="fa fa-star fa-2x" data-index="4"></i>#}
{#                            <i class="fa fa-star fa-2x" data-index="5"></i>#}
{#                            <i class="fa fa-star fa-2x" data-index="6"></i>#}
{#                            <i class="fa fa-star fa-2x" data-index="7"></i>#}
{#                            <i class="fa fa-star fa-2x" data-index="8"></i>#}
{#                            <br><br>#}
{#                            <?php echo round($avg,2) ?>#}

{#                            <p>  vous avez :{{ user.color }} etoile </p>#}

{#                        </div>#}
{#                        <div class="down-content">#}
{#                            <h3>Aide </h3>#}
{#                            <p>                    acune etoile : sans bac#}
{#                                <br>#}
{#                                1 etoile :  bac#}
{#                                <br>#}
{#                                2 etoile :  bac +1#}
{#                                <br>#}
{#                                3 etoile :  bac +2#}
{#                                <br>#}
{#                                4 etoile :  bac +3#}
{#                                <br>#}
{#                                5 etoile :  bac + 4#}
{#                                <br>#}
{#                                6 etoile :  bac +5#}
{#                                <br>#}
{#                                7 etoile :  bac +6#}
{#                                <br>#}
{#                                8 etoile :  bac +7#}
{#                                <br>#}
{#                                9 etoile :  bac +8#}

{#                            </p>#}
{#                            #}{#                            <h3>Diplome </h3>#}
{#                            #}{#                            {{candidat.getDiplome()}}#}

{#                        </div>#}
{#                    </div>#}

{#                </div>#}
            </div>
        </div>
    </div>

    </section>

    <script src="http://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script>
        var ratedIndex = -1, uID = 0;
        $(document).ready(function () {
            resetStarColors();

            if (localStorage.getItem('ratedIndex') != null) {
                setStars(parseInt(localStorage.getItem('ratedIndex')));
                uID = localStorage.getItem('uID');
            }

            $('.fa-star').on('click', function () {
                ratedIndex = parseInt($(this).data('index'));
                localStorage.setItem('ratedIndex', ratedIndex);
                saveToTheDB();
            });

            $('.fa-star').mouseover(function () {
                resetStarColors();
                var currentIndex = parseInt($(this).data('index'));
                setStars(currentIndex);
            });

            $('.fa-star').mouseleave(function () {
                resetStarColors();

                if (ratedIndex != -1)
                    setStars(ratedIndex);
            });
        });

        function saveToTheDB() {
            $.ajax({
                url : "{{ path('aff_user') }}",
                method: "POST",
                dataType: 'json',
                data: {
                    save: 1,
                    uID: uID,
                    ratedIndex: ratedIndex
                }, success: function (r) {
                    uID = r.id;
                    localStorage.setItem('uID', uID);
                }
            });
        }

        function setStars(max) {
            for (var i=0; i <= max; i++)
                $('.fa-star:eq('+i+')').css('color', 'red');
        }

        function resetStarColors() {
            $('.fa-star').css('color', 'black');
        }
    </script>


{% endblock %}
