{% extends 'baseCandidat.html.twig' %}

{% block title %}compte candidat{% endblock %}

{% block body %}
    <section id="services_main">
        <div class="container">
            <div class="row">
                <div class="services_main_1">
                    <h2>SERVICES</h2>
                    <p><a href="{{ path('home') }}"> Acceuil </a> <i class="fa fa-angle-double-right"></i> <a href="#"> Vos demandes </a></p>
                </div>
            </div>
        </div>
    </section>
    <section id="history">

        <section id="about_inner">
            <div class="about_inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
{#                                {{candidat.getImg() }}#}

                                <a href="#"><img src="/img/prof.png" alt="abc" height="300" width="400"></a>


                            </div>
                            <div class="col-sm-6">
                                <div class="about_inner_2">

                                            <h2 class="text-center"> {{candidat.getNom()}} {{candidat.getPrenom()}}
                                                <a href="{{ path ('Modif_espace_candidat') }}" class="fa fa-pencil" ></a></h2>
                                            <p class="text-center">  {{candidat.getDateNaisse()|date('Y-m-d')}}</p>
                                            <p class="text-center">  {{candidat.getGover()}}  </p>
                                            <p class="text-center"> {{candidat.getEmail()}}   </p>
                                            <p class="text-center"> {{candidat.getNum()}}   </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="choose">
            <div class="container">
                <div class="row">
                    <div class="choose_2 clearfix">
                        <div class="col-sm-6">
                            <div class="choose_3">
{#                                {{candidat.getCv()}}#}

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="choose_4">
                                <h3>Specialite </h3>
                                <p>                              {{candidat.getSpecial()}}
                                    </p>
                            </div>
                            <div class="choose_4">
                                <h3>Diplome </h3>
                             {{candidat.getDiplome()}}
                            </div>

                        </div>
                    </div>
                </div>
                <a href="{{ path ('Supp_espace_candidat') }}" class="button">Desactiver compte</a>

            </div>
        </section>

    </section>
{% endblock %}
