 {#
 {{ form_start(form) }}
{{ form_widget(form) }}
<button id="form-submit" class="filled-button">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
 #}
 <div class="container">
     <div class="row">
         <div class="col-md-12">
             <div class="section-heading">
             </div>
         </div>
         <div class="col-md-8">
             <div class="contact-form">
                 {{ form_start(form ,{attr: {novalidate: 'novalidate'}}) }}
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <fieldset>
                         {{ form_row(form.post, {'attr': {'class': 'form-control','placeholder': "Post de travail"}})}}
                     </fieldset>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <fieldset>
                         {{ form_row(form.domaine)}}
                     </fieldset>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <fieldset>
                         {{ form_row(form.objectif, {'attr': {'class': 'form-control','placeholder': "Objectif de travail"}})}}
                     </fieldset>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <fieldset>
                         {{ form_row(form.description, {'attr': {'class': 'form-control','placeholder': "Description"}})}}
                     </fieldset>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <fieldset>
                         {{ form_row(form.competences, {'attr': {'class': 'form-control','placeholder': "Post de travail"}})}}
                     </fieldset>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <fieldset>
                         {{ form_row(form.experienceMin, {'attr': {'class': 'form-control'}})}}
                     </fieldset>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <fieldset>
                         {{ form_row(form.experienceMax, {'attr': {'class': 'form-control'}})}}
                     </fieldset>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <fieldset>
                         {{ form_row(form.salaire, {'attr': {'class': 'form-control'}})}}
                     </fieldset>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <fieldset>
                         {{ form_row(form.nombrePlace, {'attr': {'class': 'form-control'}})}}
                     </fieldset>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <fieldset>
                         {{ form_row(form.contrat)}}
                     </fieldset>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <fieldset>
                         {{ form_row(form.dateExpiration)}}
                     </fieldset>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <fieldset>
                         {{ form_row(form.test)}}
                     </fieldset>
                 </div>
                 <div class="row">
                         <button id="form-submit" class="filled-button " style="margin: auto;width: 50%;border: 3px solid;padding: 10px;">
                             <i class="fa fa-check" aria-hidden="true"></i>
                             {{ button_label|default('Enregistrer')}}
                         </button>
                 </div>
                 {{ form_end(form) }}
             </div>
         </div>
     </div>
 </div>
