{% extends 'base.html.twig' %}

{% block title %}Offres{% endblock %}

{% block body %}
    <section id="blog">
    <div class="container">
    <div class="row">
        <div class="blog_1 clearfix">
            <div class="col-sm-7">
                {% for offre in offres %}
                    {% if offre.etat == true %}
                        <div class="blog_2">
                            <h3>{{ offre.post }}</h3>
                            <h6>à été publié le {{ offre.dateDepo ? offre.dateDepo|date('Y-m-d') : '' }}</h6>
                            <a href="details.html"><img src="{{  asset('img/offre.png')}}" alt="abc" class="img_responsive"></a>
                            <p>{{ offre.description }}</p>
                            <a href='{{ path('offre_showcandidat', {'id': offre.id}) }}' class="button">Voir Plus</a>
                        </div>
                        <br>
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    </section>

{% endblock %}