{% extends 'base.html.twig' %}

{% block title %}New Question
{% endblock %}

{% block body %}
	<!-- Page Content -->
	<div class="page-heading contact-heading header-text" style="background-image: url({{asset('assets/images/heading-4-1920x500.jpg') }});">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="text-content">
						<h4>Recrutini</h4>
						<h2>Nouveau question
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Banner Ends Here -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-heading"></div>
			</div>
			<div class="col-md-8">
				<div class="contact-form">
					{{ form_start(form ,{attr: {novalidate: 'novalidate'}}) }}
					<div class="col-lg-12 col-md-12 col-sm-12">
						<fieldset>
							{{ form_row(form.contenu_ques, {'attr': {'class': 'form-control','placeholder': "question"}})}}
						</fieldset>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12">
						<fieldset>
							{{ form_row(form.duree)}}
						</fieldset>
					</div>
					<div class="row">
						<input type="radio" id="radio" name="type" value="radio">
						<label for="radio">QCM</label>
						<input type="radio" id="textArea" name="type" value="area">
						<label for="textArea">Tester un code</label><br>
					</div>
					<div class="row">

						<h3>Reponses</h3>
					</div>
					<div class="row">
						<ul class="reponses" data-prototype="{{ form_widget(form.reponses.vars.prototype)|e('html_attr') }}"></ul>
					</div>
					<div id="x" class="row"></div>
				</ul>

				<div class="row">
					<button id="form-submit" class="filled-button " style="margin: auto;width: 50%;border: 3px solid;padding: 10px;">
						<i class="fa fa-check" aria-hidden="true"></i>
						{{ button_label|default('Enregistrer')}}
					</button>
				</div>

				{{ form_errors(form) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

	$('input[type=radio][name=type]').change(function () {
    
    $('.reponses').empty();
    $('#question_nomb_rep').val(0);
    $('#x').append("<td><a data-collection-holder-class='reponses' id='add' class='btn btn-info add_item_link'><i class='fa fa-plus' aria-hidden='true'></i></a></td>");
    $('#add').trigger('click');
    if ($("input[type='radio'][name='type']:checked").val() === "area") {
        $("#x").empty();
        $("#remove").empty();
    }
    if ($('#x td').length === 0) {}
    });
    jQuery(document).ready(function () {
    $collectionHolder = $('ul.reponses');
    $collectionHolder.find('li').each(function () {
    addTagFormDeleteLink($(this));
    });
    var $tagsCollectionHolder = $('ul.reponses');
    $tagsCollectionHolder.data('index', $tagsCollectionHolder.find('input').length);

    $('body').on('click', '.add_item_link', function (e) {
    if ($("input[name='type']:checked").val() === "radio" || $('#question_nomb_rep').val() == 0) {
    var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
    addFormToCollection($collectionHolderClass);
    $('#question_nomb_rep').val($('#question_nomb_rep').val() - 1 + 2);
    }
    });

    });
    function addFormToCollection($collectionHolderClass) {
    var $collectionHolder = $('.' + $collectionHolderClass);
    var prototype = $collectionHolder.data('prototype');
    var index = $collectionHolder.data('index');

    var newForm = prototype;
    newForm = newForm.replace(/__name__/g, index);
    $collectionHolder.data('index', index + 1);
    var $newFormLi = $('<li></li>').append(newForm);
    $collectionHolder.append($newFormLi);
    // let $removeFormButton = $('<li> <input type="radio"  name="gender" >definir le reponse juste</li><br/>');
    // $newFormLi.append($removeFormButton);
    addTagFormDeleteLink($newFormLi);

    }
    function addTagFormDeleteLink($tagFormLi) {

    var $removeFormButton = $('<a id="remove"  ><i class="fa fa-minus-circle" aria-hidden="true" style="color:red; font-size:36px"></i></a>\n');
    $tagFormLi.append($removeFormButton);

    $removeFormButton.on('click', function (e) {
    $('#question_nomb_rep').val($('#question_nomb_rep').val() - 1);
    $tagFormLi.remove();
    });
    }
</script>{% endblock %}
