{% block content %}
    <div class="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
    <div class="card">
    <div class="card-header card-header-primary">
        <h1 align="center">candidat</h1>
        <h4 align="center"> List of candidat </h4>
    </div>
    <div class="card-body">
    <div class="table-responsive">
    <table class="table" border="3">
        <thead class=" text-primary">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>mail</th>
            <th>sexe</th>
            <th>Date nais</th>
            <th>mdp</th>
            <th>Etat</th>
            <th>Ville</th>
            <th>Img</th>
            <th>Num </th>
            <th>Spécialité</th>
            <th>Diplome</th>
            <th>Cv</th>

        </tr>
        </thead>
        {% for candidat in candidat  %}

        <tbody>
        <tr>
            <td>{{candidat.nom}}</td>
            <td>{{candidat.prenom}}</td>
            <td>{{candidat.email}}</td>
            <td>{{candidat.genre}}</td>
            <td>{{candidat.DateNaisse|date('Y-m-d')}}</td>
            <td>{{candidat.mdp}}</td>
            {% if candidat.etat == "0" %}
                <td>compte activé</td>
            {% else %}
                <td>compte déactivé</td>
            {% endif %}
            <td>{{candidat.gover}}</td>
            <td>{{candidat.num}}</td>
            <td>{{candidat.special}}</td>
            <td>{{candidat.diplome}}</td>
            <td>{{candidat.cv}}</td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}