{% extends 'baseCandidat.html.twig' %}

{% block title %}Candidature index{% endblock %}
{% block titre %}Candidatures{% endblock %}
{% block body %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script>
$( document ).ready(function() {
        $("#search").keyup(function(e){
/* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
          var value = $(this).val();
/* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
             $.ajax({
/* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                url : "{{ path('candidature_index') }}",
/* La méthode utilisée pour transférer les données est GET */
                type : 'GET', 
/*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */                
                data: {
                        'searchValue' : value
                    },
/*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                success : function(retour){
                  if(retour){
  			$('#t tbody#search').empty();
  			$.each(JSON.parse(retour), function(i, obj) {
  			$('#t tbody#all').hide();
  			$('#t tbody#search').append('<tr><td> '+obj.id+'  </td><td>    '+obj.nom+'  </td><td>    '+obj.prenom+'  </td><td>'+obj.email+' </td><td><a href="candidatureback_edit/'+obj.id+'">modifier</a> </br></td></tr>');
});
                  }
                  else
                  {
   $('#t tbody#all').show();
   $('#t tbody#search').empty();
   $('#t tbody#search').fadeIn('fast');
                     }
 },
        });
        return false;
        });
    });
        </script>

    <h6>Search: </h6>
    <form method="GET" action="/search">
    
        <select name="order">
            <option>newer</option>
            <option>older</option>
        </select>
        <input type="text" name="query" placeholder="Search"/>
    </form>
    

    

        {% for candidature in candidatures %}
            <div class="col-md-4">
                    <div class="product-item">
                        <div class="down-content">
                            <a href="#"><h4>{{ candidature.nom }} &nbsp; {{ candidature.prenom }}</h4></a>
                            

                            <h6>Crud Master (lien vers l'offre)</h6>
                            <h4><small> {{ candidature.num }} <br> <strong> {{ candidature.email }}</strong></small></h4>
                            <h4><small><i class="fa fa-briefcase"></i> {{ candidature.diplome }} <br> <strong><i class="fa fa-building"></i> {{ candidature.status }}</strong></small></h4>

                            <small>
                                <strong title="Posted on"><i class="fa fa-calendar"></i> {{ candidature.DateCandidature ? candidature.DateCandidature|date('Y-m-d') : '' }}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                <strong title="Type"><i class="fa fa-file"></i> Recruitini </strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                <strong title="Location"><i class="fa fa-map-marker"></i> Tunisie</strong>
                            </small>
                            <br>
                            <a href="{{ path('candidature_show', {'id': candidature.id}) }}" class="filled-button">Voir</a>
                            <a href="{{ path('candidature_edit', {'id': candidature.id}) }}" class="filled-button">Modifier</a>
                            <a href="#" class="filled-button">Voir CV</a>
                            {{include('candidature/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
                &nbsp;

            
        {% else %}
            
                Aucun candidature trouvé
            
        {% endfor %}


    
{% endblock %}

