{% extends 'baseCandidat.html.twig' %}

{% block title %}Candidature{% endblock %}
{% block titre %}Candidature{% endblock %}
{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Date de candidature</th>
                <td>{{ candidature.DateCandidature ? candidature.DateCandidature|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ candidature.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ candidature.prenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ candidature.sexe }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ candidature.email }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ candidature.dateNaiss ? candidature.dateNaiss|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Numéro de téléphone</th>
                <td>{{ candidature.num }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ candidature.status }}</td>
            </tr>
            <tr>
                <th>Diplome</th>
                <td>{{ candidature.diplome }}</td>
            </tr>
            <tr>
                <th>Cv</th>
                <td>
                <a href="{{ asset('uploads/' ~ candidature.cv) }}" class="filled-button">Voir CV</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('candidature_index') }}" class="filled-button">Retour à la liste</a>
    <a href="{{ path('candidature_edit', {'id': candidature.id}) }}" class="filled-button">Modifier</a>

    {{ include('candidature/_delete_form.html.twig') }}
{% endblock %}
