{% extends 'base.html.twig' %}

{% block title %}Annonce Presse{% endblock %}

{% block body %}

    <div class="page-heading contact-heading header-text" style="background-image: url({{asset('assets/images/heading-4-1920x500.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h2>Annonce Presse</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="send-message">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Modifier une Annonce</h2>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="contact-form">
                        <form {{ form_start(form) }}
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    {{ form_widget(form.nom) }}
                                </fieldset>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    {{ form_widget(form.origine) }}
                                </fieldset>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    {{ form_widget(form.img) }}
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    {{ form_widget(form.Submit) }}
                                </fieldset>
                            </div>
                            <br>
                            <div class="col-lg-12">
                                <fieldset>
                                        <a class="filled-button"  href="{{ path('DeleteAnnonce',{'id':id}) }}">Supprimer</a>
                                </fieldset>
                            </div>
                        </div>
                        </form {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}